attrs==22.2.0
    # via pytest
coverage==7.1.0
    # via -r test-requirements.in
iniconfig==2.0.0
    # via pytest
packaging==23.0
    # via pytest
pluggy==1.0.0
    # via pytest
pytest==7.2.1
    # via -r test-requirements.in
