name: Test package

on:
  push:
    branches: ['main']
  pull_request:

jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.14'
          cache: true
          cache-dependency-path: 'pylock.toml'
      - name: Install check dependencies
        run: pdm install --group check
      - name: Run checks
        run: pdm run check

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14', 'pypy-3.10', 'pypy-3.11']
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
          allow-python-prereleases: true
          cache: true
          cache-dependency-path: 'pylock.toml'
      - name: Install test dependencies
        run: pdm install --group test
      - name: Run tests
        run: pdm run test
      - name: Run benchmarks
        run: pdm run benchmark --benchmark-save '${{ matrix.python-version }}-${{ github.sha }}'
      - name: Run benchmarks for target
        if: ${{ github.event.pull_request.base.sha }}
        run: |
          git switch --detach ${{ github.event.pull_request.base.sha }}
          pdm run benchmark --benchmark-save '${{ matrix.python-version }}-${{ github.event.pull_request.base.sha }}'
          git switch --detach -
      - name: Upload benchmark results
        if: ${{ github.event.pull_request.base.sha }}
        uses: actions/upload-artifact@v4
        with:
          name: 'benchmarks-${{ matrix.python-version }}'
          path: '.benchmarks/*/*.json'
          include-hidden-files: true
          retention-days: 1

  compare-benchmarks:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event.pull_request }}
    steps:
      - uses: actions/checkout@v5
      - uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.14'
          cache: true
          cache-dependency-path: 'pylock.toml'
      - name: Install test dependencies
        run: pdm install --group test
      - uses: actions/download-artifact@v5
        with:
          pattern: benchmarks-*
          path: .benchmarks/
          merge-multiple: true
      - run: pdm run .github/compare-benchmarks.py --old ${{ github.event.pull_request.base.sha }} --new ${{ github.sha }}
